.Profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#ffffff;
    margin: 10px;
    padding: 20px;
}

.Profile-img {
    width: 202px;
    height: 202px;
    padding: 1px;
    background-color: #f0f0f0;
    border-radius: 50%;
}

.Profile-name {
    margin: 20px 0 10px !important;
}

.Profile-position {
    margin: 0 !important;
    color: #777777 !important;
}

.Profile-phone {
    margin: 0 0 10px; 
}

.Profile-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    margin: 0 !important;
}
.Profile-link .Profile-link-icon {
    font-size: 24px;
    color: rgba(0, 0, 0, 0.85);
}
.Profile-link .Profile-link-icon :hover {
    font-size: 28px;
    color: rgb(24,144,255);
}
