.Profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#ffffff;
    margin: 10px;
    padding: 20px;
}

.Profile-img {
    width: 202px;
    height: 202px;
    padding: 1px;
    background-color: #f0f0f0;
    border-radius: 50%;
}